a:hover{
    color: black;
}
a{
    font-size: 20px;
    
}
.nav-tabs .nav-item{
    padding: 7px;
}
.seelect{
    margin-top: 50px;
}

.inputfile {
      position: absolute;
      overflow: hidden;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color:#3f6692;
    display: inline-block;
    border: 1px solid #3f6692;
    border-radius: 15px;
    padding: 10px;
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.red-text p{
    margin-top: 50px;
    background: #3f6692;
    color: white;
    padding: 20px;
}