.allForm{
  margin-top:50px;
  background-color: #3f6692!important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-bottom-left-radius: 50%;
}
h2{
    color:#FFF;
}
.formit{
    background-color: #3f6692!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-bottom-right-radius: 50%;
    margin-bottom: 50px;
    
}
form{
    margin-top: 50px;
    margin-bottom: 100px;
}
.alert{
    display: block;
}