.bg-light{
    background-color: #3f6692!important;
}
.brand,.brand:active,.brand:hover{
     color: aliceblue;
     font-size: 40px;
     font-style: italic;
}
.loginclass , .loginclass:active,.loginclass:hover{
    color: aliceblue;
    font-size: 20px;
}